:root {
  --containerWidth: 600px;
  --containerAlignment: 0 auto;
  --pixelUnit: 4px;
}

/**
ELEMENT STYLES
**/
html {
  font-family: sans-serif;
}

body {
  max-width: var(--containerWidth);
}

p + p {
  margin-top: 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

main h1 {
  margin-top: 0;
  margin-bottom: 2rem;
}

/**
COMPONENTS
**/
.fullWidth {
  width: calc(100vw - 20px);
  position: relative;
  left: calc(-1 * (((100vw - 20px) - 100%) / 2));
}

/**
ATOMIC CLASSES
**/
.backgroundColorBackgroundHover:hover {
  background-color: var(--background);
}

.backgroundColorUnset {
  background-color: unset;
}

.borderRadius2 {
  border-radius: calc(2 * var(--pixelUnit));
}

.borderTopNone {
  border-top: none;
}

.colorBlack {
  color: black;
}

.colorRed {
  color: #f44336;
}

.colorTextMuted {
  color: var(--text-muted);
}

.displayBlock {
  display: block;
}

.displayFlex {
  display: flex;
}

.fontSize09 {
  font-size: 0.9rem;
}

.fontSize1 {
  font-size: 1rem;
}

.fontSize14 {
  font-size: 1.4rem;
}

.fontSize25 {
  font-size: 2.5rem;
}

.fontWeight500 {
  font-weight: 500;
}

.fontWeight600 {
  font-weight: 600;
}

.padding0 {
  padding: 0;
}

.padding2 {
  padding: calc(2 * var(--pixelUnit));
}

.lineHeight0 {
  line-height: 0;
}

.lineHeight16 {
  line-height: 1.6;
}

.listStyleTypeNone {
  list-style-type: none;
}

.marginBottom0 {
  margin-bottom: 0;
}

.marginBottom8 {
  margin-bottom: calc(8 * var(--pixelUnit));
}

.marginHorizontal0 {
  margin-left: 0;
  margin-right: 0;
}

.marginLeftNegative1 {
  margin-left: calc(-1 * var(--pixelUnit));
}

.marginTop0 {
  margin-top: 0;
}

.marginTop2 {
  margin-top: calc(2 * var(--pixelUnit));
}

.marginTop7 {
  margin-top: calc(5 * var(--pixelUnit));
}

.maxWidth150 {
  max-width: calc(150 * var(--pixelUnit));
}

.textDecorationNone {
  text-decoration: none;
}

.textDecorationNoneHover:hover {
  text-decoration: none;
}
